body {
    background-color: #19bb19;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border: 5px dotted black;
    z-index: 1;
}

h2 {
    color:rgb(0, 0, 0);
    position: absolute;
    width: 300px;
    height: 250px;
    margin-left: 375px;
    margin-top: 10;
    text-align: center;
    float: right;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
    background: #19bb19;
    z-index: 2;   
}

h3 {
    color: #910101d5;
    position: absolute;
    width: 200px;
    height: 250px;
    margin-left: 40px;
    margin-top: 45px;
    text-align: center;
    float: right;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
    background: #19bb19;
    z-index: 3;
}

h4 {
    color: rgb(58, 1, 112);
    font-size: larger;
    position: absolute;
    width: 200px;
    height: 250px;
    margin-left: 800px;
    margin-top: 45;
    text-align: center;
    float: right;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
    background: #19bb19;
    z-index: 4;
}

